# This is /etc/systemd/system/graphite-web.service
[Unit]
Description=graphite-web service
Requires=graphite-web.socket

[Service]
ExecStart={{ graphite_path }}/bin/gunicorn -n graphite-web --chdir {{ graphite_path }} -w {{ graphite_web_workers }} {% if graphite_disable_access_log is defined %}--disable-redirect-access-to-syslog{% endif %} {% if graphite_error_logfile is defined %}--error-logfile {{graphite_error_logfile}}{% endif%} --worker-connections {{ graphite_max_connections }} --max-requests {{ graphite_max_connections_per_child }} wsgi:application
Restart=on-failure
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
